data/originals_small
data/photoshops_small
data/error.log
data/originals_full/
data/photoshops_full/
data/originals_resized/
data/photoshops_resized/
model/__pycache__/net.cpython-37.pyc
src/setup/__pycache__/_2_build_full_dataset_tsv.cpython-37.pyc
*.pyc
